* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: #182bb8;
    color: #ffffff;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  .circle-frame {
    width: 400px;
    height: 400px;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    text-align: center;
}
.circle-frame-2 {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    text-align: center;
}
.circle-frame-3 {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    text-align: center;
}

.circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  a {
    text-decoration: none; 
    color: inherit;
}
.timeline {
    list-style: none;
    padding: 0;
  }
  
  .timeline-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .timeline-date {
    flex: 0 0 100px;
    padding-right: 20px;
    font-weight: bold;
  }
  
  .timeline-content {
    flex: 1;
  }
  
  .timeline-content h3 {
    margin-top: 0;
  }
  /*
=====
RESET
=====
*/

:where(.ra-link){
    display: var(--ra-link-display, inline-flex);
  }
  
  :where(.ra-link[href]){
    color: var(--ra-link-color, inherit);
    text-decoration: var(--ra-link-text-decoration, none);
  }
  
  :where(.ra-heading){
    margin-block-start: var(--ra-heading-margin-block-start, 0);
    margin-block-end: var(--ra-heading-margin-block-end, 0);
  }
  
  /*
  =====
  HELPERS
  =====
  */
  
  .ha-screen-reader{
    width: var(--ha-screen-reader-width, 1px);
    height: var(--ha-screen-reader-height, 1px);
    padding: var(--ha-screen-reader-padding, 0);
    border: var(--ha-screen-reader-border, none);
  
    position: var(--ha-screen-reader-position, absolute);
    clip-path: var(--ha-screen-reader-clip-path, rect(1px, 1px, 1px, 1px));
    overflow: var(--ha-screen-reader-overflow, hidden);
  }
  
  /*
  =====
  UIA-TIMELINE
  =====
  */
  
  .uia-timeline__container{
    display: var(--uia-timeline-display, grid);
  }
  
  .uia-timeline__groups{
    display: var(--uia-timeline-groups-display, grid);;
    gap: var(--uia-timeline-groups-gap, 1rem);
  }
  
  /*
  SKIN 1
  */
  
  [data-uia-timeline-skin="skin-1"] .uia-timeline__step{
      line-height: 1;
      font-size: var(--uia-timeline-step-font-size, 2rem);
      font-weight: var(--uia-timeline-step-font-weight, 700);
      color: var(--uia-timeline-step-color);
  }
  
  [data-uia-timeline-skin="skin-1"] .uia-timeline__point-intro{
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center;
      gap: var(--uia-timeline-point-intro-gap, .5rem);
  }
  
      [data-uia-timeline-skin="skin-1"] .uia-timeline__point-date{
      grid-row: 1;
      grid-column: 2;
  }
  
  [data-uia-timeline-skin="skin-1"] .uia-timeline__point-heading{
      grid-column: span 2;
  }
  
  [data-uia-timeline-skin="skin-1"] .uia-timeline__point-description{
      margin-block-start: var(--uia-timeline-group-gap, 1rem);
      inline-size: min(100%, var(--uia-timeline-content-max-limit));
  }
  
  /*
  SKIN 2
  */
  
  [data-uia-timeline-skin="2"]{
      --_uia-timeline-line-color_default: #222;
      --_uia-timeline-minimal-gap: var(--uia-timeline-minimal-gap, .5rem);
      --_uia-timeline-space: calc(var(--_uia-timeline-arrow-size) + var(--_uia-timeline-dot-size) + var(--_uia-timeline-dot-size) / 2 + var(--_uia-timeline-minimal-gap));
      --_uia-timeline-dot-size: var(--uia-timeline-dot-size, 1rem);
      --_uia-timeline-arrow-size: var(--uia-timeline-arrow-size, .25rem);
      --_uia-timeline-arrow-position: var(--uia-timeline-arrow-position, 1rem);
  }
  
  [data-uia-timeline-skin="2"] .uia-timeline__container{
      position: relative;
      padding-inline-start: calc(var(--_uia-timeline-space));
  }
  
  [data-uia-timeline-skin="2"] .uia-timeline__line{
      inline-size: var(--uia-timeline-line-thickness, 3px);
      block-size: 100%;
      background-color: var(--uia-timeline-line-color, var(--_uia-timeline-line-color_default));
  
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: calc(var(--_uia-timeline-dot-size) / 2);
      transform: translate(-50%);
  }
  
  [data-uia-timeline-skin="2"] .uia-timeline__group{
      position: relative;
  }
  
  [data-uia-timeline-skin="2"] .uia-timeline__dot{
      box-sizing: border-box;
      inline-size: var(--_uia-timeline-dot-size);
      block-size: var(--_uia-timeline-dot-size);
  
      border-radius: 50%;
      border: 
          var(--uia-timeline-dot-border-thickness, 1px) 
          solid 
          var(--uia-timeline-dot-border-color, var(--_uia-timeline-line-color_default));
      background-color: var(--uia-timeline-dot-color, var(--_uia-timeline-line-color_default));
  
      position: absolute;
      /* - 4px is used for set the default gap from the top border */
      inset-block-start: calc(var(--uia-timeline-dot-position, var(--_uia-timeline-arrow-position)) + 4px);
      inset-inline-start: calc(-1 * var(--_uia-timeline-space));
  }	
  
  [data-uia-timeline-skin="2"] .uia-timeline__point{
      position: relative;
      background-color: var(--uia-timeline-point-background-color, #fff);
  }
  
  [data-uia-timeline-skin="2"] .uia-timeline__point::before{
      content: "";
      inline-size: 0;
      block-size: 0;
  
      border: var(--_uia-timeline-arrow-size) solid var(--uia-timeline-arrow-color, var(--_uia-timeline-line-color_default));
      border-block-start-color: transparent;
      border-inline-end-color: transparent;
  
      position: absolute;
      /* - 6px is used for set the default gap from the top border */
      inset-block-start: calc(var(--_uia-timeline-arrow-position) + 6px);
      inset-inline-start: calc(-1 * var(--_uia-timeline-arrow-size) + 1px);
      transform: rotate(45deg);
  }
  
  [data-uia-timeline-adapter-skin-2="ui-card-skin-#1"]{
    --uia-card-padding: var(--uia-timeline-point-padding, 1.5rem 1.5rem 1.25rem);
    --uia-card-border-thickness: var(--uia-timeline-point-border-thickness, 3px);
      --uia-card-border-color: var(--uia-timeline-point-border-color, var(--_uia-timeline-line-color_default));		
    --uia-card-background-color: var(--uia-timeline-point-background-color);  
  }
  
  /*
  SKIN 3
  */
  
  [data-uia-timeline-skin="3"]{
    --_uia-timeline-line-color_default: #222;
    --_uia-timeline-space: var(--uia-timeline-space, 1rem);
    --_uia-timeline-line-thickness: var(--uia-timeline-line-thickness, 2px);
    --_uia-timeline-point-line-position: var(--uia-timeline-point-line-position, 1rem);
  }
  
  [data-uia-timeline-skin="3"] .uia-timeline__container{
    position: relative;
    gap: var(--uia-timeline-annual-sections-gap, 2.5rem);
  }
  
  [data-uia-timeline-skin="3"] .uia-timeline__line{
    inline-size: var(--_uia-timeline-line-thickness);
    block-size: 100%;
    background-color: var(--uia-timeline-line-color, var(--_uia-timeline-line-color_default));
  
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
  }
  
  [data-uia-timeline-skin="3"] .uia-timeline__annual-sections{
    display: grid;
    gap: 2rem;
  }
  
  [data-uia-timeline-skin="3"] .uia-timeline__groups{
    padding-inline-start: calc(var(--_uia-timeline-space));
  }
  
  [data-uia-timeline-skin="3"] .uia-timeline__group{
    position: relative;
    isolation: isolate;
  }
  
  [data-uia-timeline-skin="3"] .uia-timeline__point{
    background-color: var(--uia-timeline-point-background-color, #fff);
  }
  
  [data-uia-timeline-skin="3"] .uia-timeline__point::before{
    content: "";
    inline-size: 100%;
    block-size: var(--_uia-timeline-line-thickness);
    background-color: var(--uia-timeline-line-color, var(--_uia-timeline-line-color_default));
  
    position: absolute;
    inset-block-start: var(--_uia-timeline-point-line-position);
    inset-inline-start: calc(-1 * var(--_uia-timeline-space));
    z-index: -1;
  }
  
  [data-uia-timeline-skin="3"] .uia-timeline__year{
    inline-size: fit-content;
    padding: var(--uia-timeline-year-padding, .25rem .75rem);
    background-color: var(--uia-timeline-year-background-color, var(--_uia-timeline-line-color_default));
    color: var(--uia-timeline-year-color, #f0f0f0);
  }
  
  [data-uia-timeline-adapter-skin-3="ui-card-skin-#1"]{
    --uia-card-padding: var(--uia-timeline-point-padding, 1.5rem 1.5rem 1.25rem);
    --uia-card-border-thickness:  var(--uia-timeline-point-border-thickness, 3px);
      --uia-card-border-color: var(--uia-timeline-point-border-color, var(--_uia-timeline-line-color_default));		
    --uia-card-background-color: var(--uia-timeline-point-background-color);  
  }
  
  /*
  SKIN 4
  */
  
  [data-uia-timeline-skin="4"]{
    --_uia-timeline-line-color_default: #222;
    --_uia-timeline-space: var(--uia-timeline-space, .5rem);
    --_uia-timeline-line-thickness: var(--uia-timeline-line-thickness, 2px);
      --_uia-timeline-annual-sections-safe-gap: var(--uia-timeline-annual-sections-safe-gap, 1.5rem); 
    --_uia-timeline-point-line-position: var(--uia-timeline-point-line-position, 1rem);
      --_uia-timeline-year-size: var(--uia-timeline-year-size, 3.5rem);
  }
  
  [data-uia-timeline-skin="4"] .uia-timeline__container{
    position: relative;
    gap: var(--uia-timeline-annual-sections-gap, 2.5rem);
  }
  
  [data-uia-timeline-skin="4"] .uia-timeline__line{
    inline-size: var(--_uia-timeline-line-thickness);
    block-size: 100%;
    background-color: var(--uia-timeline-line-color, var(--_uia-timeline-line-color_default));
  
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: calc(var(--_uia-timeline-year-size) / 2);
      transform: translate(-50%);
      z-index: -1;
  }
  
  [data-uia-timeline-skin="4"] .uia-timeline__annual-sections{
    display: flex;
      align-items: flex-start;
      isolation: isolate;
  }
  
  [data-uia-timeline-skin="4"] .uia-timeline__groups{
    padding-inline-start: calc(var(--_uia-timeline-space));
      padding-block-start: calc(var(--_uia-timeline-year-size) + var(--_uia-timeline-annual-sections-safe-gap));
  }
  
  [data-uia-timeline-skin="4"] .uia-timeline__group{
    position: relative;
    isolation: isolate;
  }
  
  [data-uia-timeline-skin="4"] .uia-timeline__point{
    background-color: var(--uia-timeline-point-background-color, #fff);
  }
  
  [data-uia-timeline-skin="4"] .uia-timeline__point::before{
    content: "";
    inline-size: 100%;
    block-size: var(--_uia-timeline-line-thickness);
    background-color: var(--uia-timeline-line-color, var(--_uia-timeline-line-color_default));
  
    position: absolute;
    inset-block-start: var(--_uia-timeline-point-line-position);
    inset-inline-start: calc(-1 * (var(--_uia-timeline-space) + var(--_uia-timeline-year-size) / 2));
    z-index: -1;
  }
  
  [data-uia-timeline-skin="4"] .uia-timeline__year{
    box-sizing: border-box;
      flex: none;
      inline-size: var(--_uia-timeline-year-size);
      block-size: var(--_uia-timeline-year-size);
      
      border: 
          var(--uia-timeline-year-line-thickness, var(--_uia-timeline-line-thickness)) 
          var(--uia-timeline-year-line-style, solid) 
          var(--uia-timeline-line-color, var(--_uia-timeline-line-color_default));
      border-radius: 50%;
      
      display: grid;
      place-items: center;
    background-color: var(--uia-timeline-year-background-color, #f0f0f0);
      
      font-size: var(--uia-timeline-year-font-size, .75rem);
    color: var(--uia-timeline-year-color, #222);
  }
  
  [data-uia-timeline-adapter-skin-4="ui-card-skin-#1"]{
    --uia-card-padding: var(--uia-timeline-point-padding, 1.5rem 1.5rem 1.25rem);
    --uia-card-border-thickness:  var(--uia-timeline-point-border-thickness, 3px);
      --uia-card-border-color: var(--uia-timeline-point-border-color, var(--_uia-timeline-line-color_default));	
    --uia-card-background-color: var(--uia-timeline-point-background-color);  
  }
  
  /*
  =====
  UIA-CARD
  =====
  */
  
  .uia-card__time-divider::before{
    content: "—";
    margin-inline: var(--uia-card-time-divider-margin-inline, .15rem);
  }
  
  [data-uia-card-skin="1"] .uia-card__container{
    display: grid;
    gap: var(--uia-card-content-gap, .5rem);
    padding: var(--uia-card-padding, 1rem 1.75rem);
  
    background-color: var(--uia-card-background-color);
    border-radius: var(--uia-card-border-radius, 2px);
  }
  
  [data-uia-card-skin="1"] .uia-card__intro{
    display: grid;
    gap: var(--uia-card-intro-gap, 1rem);
  }
  
  [data-uia-card-skin="1"] .uia-card__time{
    grid-row: 1 / 1;
    inline-size: fit-content;
    padding: var(--uia-card-time-padding, .25rem 1.25rem .25rem);
    background-color: var(--uia-card-time-background-color, #f0f0f0);
  
    font-weight: var(--uia-card-time-font-weight, 700);
    font-size: var(--uia-card-time-font-size, .75rem);
    text-transform: var(--uia-card-time-text-transform, uppercase);
    color: var(--uia-card-time-color, currentColor);
  }
  
  [data-uia-card-skin="1"][data-uia-card-mod="1"] .uia-card__container{
      border-inline-start:	var(--uia-card-border-thickness, 2px) var(--uia-card-border-style, solid) var(--uia-card-border-color, currentColor);
      box-shadow: var(--uia-card-box-shadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  :root{
    --uia-timeline-line-color: #4557bb;
    --uia-timeline-dot-color: #4557bb;
    --uia-timeline-arrow-color: #4557bb;
    --uia-timeline-line-thickness: 3px;
    --uia-timeline-point-border-color: #4557bb;
    --uia-timeline-group-padding: 1.5rem 1.5rem 1.25rem;
  }
  
  [data-uia-timeline-skin="3"]{
      --uia-timeline-year-background-color: #4557bb;
  }
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    color: #222;
  
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  p{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  p:last-child{
    margin-bottom: 0;
  }
  
  .page{
    max-inline-size: 80ch;
    padding: 5rem 2rem 3rem;
    margin-inline: auto;
  }
  
  .linktr{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    text-align: center;
  }
  
  .linktr__goal{
    background-color: rgb(209, 246, 255);
    color: rgb(8, 49, 112);
    box-shadow: rgb(8 49 112 / 24%) 0 2px 8px 0;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
  }
  